<div class="jumbotron text-center">
    <div class="display-3">{{title}}</div>
    <pclass="lead"> Jot down ideas of your next project</p>
        <a href="/ideas/add" class="btn btn-dark btn-lg">Add Project idea</a>
</div>